extends _layout.pug
include _post.pug

block content
  for post in page.posts.toArray()
    .post
      +post_header(post)
      .post-content
        if post.excerpt
          != post.excerpt
        else
          != post.content.slice(0, (post.content.search(/(<\/p>|<\/figure>)/) || post.content.length) + 4)
          // != post.content
