doctype html
html
    include parts/head.pug
    body
        #header
            include parts/mainMenu.pug
            .post-header-wrapper
                .post-header
                    .post-title
                        != page.title
                    .post-meta
                        .post-date
                            != full_date(page.date)
                        .post-tag
                            for tag in page.tags.toArray()
                                a.nav.tag(href=url_for(tag.path))= tag.name
        hr
        #content-wrapper
            #content
                != page.content

            #side-nav
                .side-widget
                    .side-widget-toc
                        .widget-title #{ __('toc') }
                        .widget
                            != toc(page.content, {list_number: true})

        include parts/gotopButton 
