sider-width = 300px
header-height = 200px
base-font = 14px sans-serif
base-color = Black
article-padding = 10px

card-shadow = 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)      

font-mono = "Lucida Console", Monaco, monospace
font-size = 12px
line-height = 1.8em

body
  background-color: Cornsilk
  color: base-color
  margin: 0
  font: base-font

a
  color: base-color
  text-decoration: none
  &:hover
    text-decoration: underline

#header
  background: linear-gradient(to bottom, #336699 0%, #0099ff 100%)
  color: Azure
  height: header-height
  .site-title
    padding: 30px 0 0 200px
    .title-main
      font-size: 3em
    .title-sub
      padding-left: 1em
      font-size: 1.5em

#content-wrapper
  display: flex
  justify-content: center

.affix
  #content
    margin-right: sider-width
  #sider
    position: fixed
    top: 0
    // right: 0


#content
  width: 800px
  .content
    padding: 10px 20px
    .post
      margin: 40px 0
      padding: 10px 20px
      .post-header
        .post-title
          font-size: 1.8em
          font-weight: bold
          border-bottom: inset
        .post-meta
          display: flex
          .post-meta-group
            padding: 0 10px
            a
              padding: 0 5px
      .post-content
        h1
          font-size: 1.4em
          line-height: 1em
        h2
          font-size: 1.2em
          line-height: 1em
        h3
          font-size: 1.1em
          line-height: 1em
        h4, h5, h6
          font-size: 1em
          line-height: 1em
  
#sider
  background-color: Whitesmoke
  position: sticky
  top: 10px
  margin-top: 10px
  height: 100%
  width: sider-width
  .sider
    padding: 10px 20px
    .side-widget
      padding: 10px 0
      .widget-title
        font-size: 1.2em
        font-weight: bold
        border-bottom: inset

      .side-widget-topnav
        display: flex
        justify-content: space-around
        height: 2em
        a
          display: inline-block
          text-align: center
          flex-grow: 1
          &:hover
            text-decoration: none
            border-bottom: inset

      .side-widget-search
        input#search-site
          width: 100%
          box-sizing: border-box
          
      span[class$="list-count"]
        &:before
          content: ' ('
        &:after
          content: ')'

      ul, ol
        list-style-type: none
        margin: 0
        padding: 0

      ul.category-list, ul.archive, ol
        ul, ol
          padding-left: 1em

      ul.tag-list
        display: flex
        flex-wrap: wrap
        li
          margin: 2px 10px 2px 0

h1.archive-group
  border-bottom: inset

.archive-post-list
  .post-title
    padding-top: 20px
    font-size: 1.2em  
    font-weight: bold
  .post-meta
    display: inline-flex
    .post-meta-group
      padding: 0 10px
      a
        padding: 0 5px

nav.page-navigator
  // float: right

  span, a
    display: inline-block
    padding: 5px 10px
    margin: 5px
    border: solid 1px
  a
    background-color: Wheat
    
@import highlight

