ul.title-menu
    li
        a.nav(href=url_for(config.root)) Home
    li
        a.nav(href=url_for("tags")) Tags
    li
        a.nav(href=url_for("categories")) Category
    li
        a.nav(href=url_for("archives")) Archive
    // li
        // input#search-site(placeholder="Search...")
